[submodule "packages/types"]
	path = packages/types
	url = https://github.com/Mutualzz/types.git
[submodule "packages/logger"]
	path = packages/logger
	url = https://github.com/Mutualzz/logger.git
[submodule "tooling/eslint-config"]
	path = tooling/eslint-config
	url = https://github.com/Mutualzz/eslint-config.git
[submodule "apps/app"]
	path = apps/app
	url = https://github.com/Mutualzz/app.git
[submodule "packages/validators"]
	path = packages/validators
	url = https://github.com/Mutualzz/validators.git
[submodule "apps/server"]
	path = apps/server
	url = https://github.com/Mutualzz/server.git
[submodule "apps/mobile"]
	path = apps/mobile
	url = https://github.com/Mutualzz/mobile.git
[submodule "packages/ui-core"]
	path = packages/ui-core
	url = https://github.com/mutualzz/ui-core.git
[submodule "packages/ui-web"]
	path = packages/ui-web
	url = https://github.com/mutualzz/ui-web.git
[submodule "packages/ui-native"]
	path = packages/ui-native
	url = https://github.com/mutualzz/ui-native.git
[submodule "packages/color"]
	path = packages/color
	url = https://github.com/mutualzz/color.git
[submodule "packages/color-picker"]
	path = packages/color-picker
	url = https://github.com/Mutualzz/color-picker.git
[submodule "packages/contexify"]
	path = packages/contexify
	url = https://github.com/Mutualzz/contexify.git
