[submodule "packages/ui"]
	path = packages/ui
	url = https://github.com/Mutualzz/ui.git
[submodule "packages/types"]
	path = packages/types
	url = https://github.com/Mutualzz/types.git
[submodule "packages/logger"]
	path = packages/logger
	url = https://github.com/Mutualzz/logger.git
[submodule "tooling/eslint-config"]
	path = tooling/eslint-config
	url = https://github.com/Mutualzz/eslint-config.git
[submodule "apps/app"]
	path = apps/app
	url = https://github.com/Mutualzz/app.git
[submodule "packages/validators"]
	path = packages/validators
	url = https://github.com/Mutualzz/validators.git
[submodule "apps/server"]
	path = apps/server
	url = https://github.com/Mutualzz/server.git
