name: Build and Deploy to Netlify

on:
    push:
        branches:
            - web

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: false

              # Setup Node.js
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: lts/*

            - name: Enable Corepack (for pnpm)
              run: corepack enable

            - name: Prepare pnpm
              run: corepack prepare pnpm@latest --activate

            - name: Init public submodules
              run: |
                  git submodule update --init packages/ui-core
                  git submodule update --init packages/ui-web
                  git submodule update --init packages/color-picker
                  git submodule update --init packages/types
                  git submodule update --init packages/logger
                  git submodule update --init apps/app

            - name: Init private submodules
              run: |
                  git config --global url."https://${GH_PAT}:@github.com/".insteadOf "https://github.com/"
                  git submodule update --init packages/validators
              env:
                  GH_PAT: ${{ secrets.GH_PAT }}
              shell: bash

            - name: Install netlify-cli for later
              run: pnpm install -w -D netlify-cli

            - name: Install all dependencies (just in case)
              run: pnpm i

            - name: Build primitives
              run: pnpm turbo run build --filter="./packages/types" --filter="./packages/logger" --filter="./packages/color-picker"

            - name: Build dependencies
              run: pnpm turbo run build --filter="./packages/ui-core" --filter="./packages/ui-web" --filter="./packages/validators"

            - name: Build the app
              working-directory: apps/app
              run: pnpm vite:build

            # Deploy to Netlify (using Netlify CLI)
            - name: Deploy to Netlify
              env:
                  NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
              run: pnpm exec netlify deploy --prod --site=94e51d96-ca0f-4128-bda5-7f22eb07fcc5 --filter=@mutualzz/app --dir=apps/app/dist/client --message "${{ github.event.head_commit.message }}"

            - id: changelog
              run: |
                  if [ -f CHANGELOG.md ]; then
                      echo "body<<EOF" >> $GITHUB_OUTPUT
                      cat CHANGELOG.md >> $GITHUB_OUTPUT
                      echo "EOF" >> $GITHUB_OUTPUT
                  else
                      echo "body=" >> $GITHUB_OUTPUT
                  fi
              shell: bash

            - name: Discord Webhook
              uses: tsickert/discord-webhook@v7.0.0
              with:
                  webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL}}
                  username: "Changelog"
                  avatar-url: "https://cdn.discordapp.com/icons/1332254930861424661/6bf53396c2dbc48047f69f905a3cbe2a.webp?size=1024"
                  embed-description: ${{ steps.changelog.outputs.body }}
